<template>
<div id="graph"></div>
</template>

<script>
  import vis from 'vis'
  // import swal from 'sweetalert'
  /* eslint-disable */
  
  export default {
  data: () => ({
  data: {
  nodes: [
  {
  id: 1, 
  shape: 'image', 
  image: 'https://lenguajehtml.com/img/html5-logo.png',
  label: 'Node 1',
  name: 'Kent'
  },
  {
  id: 2,
  shape: 'image',
  image: 'https://lenguajecss.com/img/css3-logo.png',
  label: 'Node 2',
  name: 'Joy'
  },
  {
  id: 3,
  shape: 'image',
  image: 'http://ryanchristiani.com/wp-content/uploads/2015/06/js-logo.png',
  label: 'Node 3',
  name: 'Guy'
  },
  {
  id: 4,
  shape: 'image',
  image: 'http://www.freeiconspng.com/uploads/less-icon-17.png',
  label: 'Node 4',
  name: 'Tin'
  },
  {
  id: 5,
  shape: 'image',
  image: 'https://static.raymondcamden.com/images/2016/11/pug.png',
  label: 'Node 5',
  name: 'Rieljun'
  },
  {
  id: 6,
  shape: 'image',
  image: 'https://cdn-images-1.medium.com/max/529/1*XmHUL5DeySv_dGmvbPqdDQ.png',
  label: 'Node 6',
  name: 'Joanne'
  },
  {
  id: 7,
  shape: 'image',
  image: 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/PostCSS_Logo.svg/2000px-PostCSS_Logo.svg.png',
  label: 'Node 7',
  name: 'Nitish'
  },
  {
  id: 8,
  shape: 'image',
  image: 'http://www.unixstickers.com/image/cache/data/stickers/bootstrap/xbootstrap.sh-340x340.png.pagespeed.ic.rjul6vd1jk.png',
  label: 'Node 8',
  name: 'Jennifer'
  }
  ],
  edges: [
  {from: 1, to: 2},
  {from: 1, to: 3},
  {from: 2, to: 4},
  {from: 1, to: 5},
  {from: 3, to: 6},
  {from: 2, to: 7},
  {from: 2, to: 8}
  ]
  },
  options: {
  nodes: {
  borderWidth:0,
  size:42,
  color: {
  border: '#222',
  background: 'transparent'
  },
  font: {
  color: '#111',
  face: 'Walter Turncoat',
  size: 16,
  strokeWidth: 1,
  strokeColor: '#222'
  }
  },
  edges: {
  color: {
  color: '#CCC',
  highlight: '#A22'
  },
  width: 3,
  length: 275,
  hoverWidth: .05
  }
  }
  }),
  mounted () {
  let nodes = new vis.DataSet(this.data.nodes)
  let edges = new vis.DataSet(this.data.edges)
  let data = ({nodes: nodes, edges: edges})
  
  let network = new vis.Network(document.querySelector('#graph'), data, this.options)
  network.on("doubleClick", function(properties) {
  var ids = properties.nodes[0]
  var clickedNodes = nodes.get(ids)
  
  swal(clickedNodes.label, {
  icon: clickedNodes.image,
  button: false
  })
  })
  // let network = new vis.Network(document.getElementById(graph), data, options);
  }
  }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);
  
  #graph {
  width:900px;
  height:80vh;
  margin:auto;
  /*   background:#EEE;
  border:2px solid #DDD; */
  }
</style>
